{% extends 'base.html' %}
{% load static %}

{% block title %}Science for GA Scavenger Hunt - Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/main/home.css' %}?v=1.1">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  {% for quiz in quizzes %}
    <a href="quiz/{{quiz.id}}">
      Title: {{quiz.title}} [{{quiz.id}}]
    </a>
    <div class="text-gold">
      Location: {{quiz.location}}
    </div>
    <br>
  {% endfor %}
  Hi {{ user.username }}!
{% else %}
  <p>You are not logged in</p>
{% endif %}
{% endblock %}